{% extends 'index.html.twig' %}


{% block titre %} Code Promo - B5511 - {% endblock %}

{% block code %} B5511 {% endblock %}

{% block code2 %} B5511 {% endblock %}

{% block image_bookmaker %}<div class="carousel-item active"  style="background-image: url({{ asset("assets/index/img/linebet/linebet.jpg") }})" >{% endblock %}

{% block inscription %}<a href="https://linebet.com/fr/registration">Inscription</a>{% endblock %}

{% block bookmakers %} LineBet {% endblock %}

{% block lien_inscription %}
<a class="cta-btn" href="https://linebet.com/fr/registration">S'inscrire sur LineBet</a>
{% endblock %}

{% block autre_bookmakers %}
    <li class="menu-has-children"><a href="">Bookmakers</a>
        <ul>
            <li><a href="{{ path('1win') }}">1Win</a></li>
            <li><a href="{{ path('betwinner') }}">BetWinner</a></li>
            <li><a href="{{ path('1xbet') }}">1xBet</a></li>
            <li><a href="{{ path('melbet') }}">MelBet</a></li>
        </ul>
    </li>
{% endblock %}

{% block start %}
<p>LINEBET possède la licence internationale de Curaçao n° 8048/JAZ. Concluez des paris sur tous les événements dans l'application mobile LINEBET! Inscrivez-vous avec notre <strong>code promotionnel</strong> pour benéficiez de la multitude bonus offerte aux nouveaux !</p>
<a href="{{ path('linebet') }}#services" class="btn-get-started scrollto">En savoir +</a>
{% endblock %}

{% block promo %}
    <p>👋Toujours pas de compte ? Alors inscrivez-vous en cliquant sur le lien ci-dessous et en utilisant le<strong> code promotionnel B5511</strong>. Recevez jusqu'à 100$ de bonus pour commencer✊💪</p>
{% endblock %}

{% block process %}
    <div class="row">
        <div class="col-lg-12">
            <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">Tout</li>
                <li data-filter=".filter-app">Inscription</li>
            </ul>
        </div>
    </div>

    <div class="row portfolio-container">

        <div class="col-lg-4 col-md-9 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
                <video src="{{ asset("./assets/index/img/linebet/linebet.mp4") }}" height="235" width="330" controls></video>

                <div class="portfolio-info">
                    <h4><a href="#">Tutoriel</a></h4>
                    <p>Inscription</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
                <video src="{{ asset("./assets/index/img/linebet/linebet2.mp4") }}" height="235" width="330" controls></video>

                <div class="portfolio-info">
                    <h4><a href="#">Tutoriel animé</a></h4>
                    <p>Inscription</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block footer_bookmakers %}
                            <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('1win') }}">1Win</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('betwinner') }}">BetWinner</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('1xbet') }}">1xBet</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('melbet') }}">MelBet</a></li>
{% endblock %}