{% extends 'index.html.twig' %}


{% block titre %} Code Promo - B5511 - {% endblock %}

{% block code %} ml_170670 {% endblock %}

{% block code2 %} ml_170670 {% endblock %}

{% block image_bookmaker %}<div class="carousel-item active"  style="background-image: url({{ asset("assets/index/img/melbet/melbet.jpg") }})" >{% endblock %}

{% block inscription %}<a href="https://cutt.ly/2H99vbo">Inscription</a>{% endblock %}

{% block bookmakers %} MelBet {% endblock %}

{% block lien_inscription %}<a class="cta-btn" href="https://cutt.ly/2H99vbo">S'inscrire sur MelBet</a>{% endblock %}

{% block autre_bookmakers %}
    <li class="menu-has-children"><a href="">Bookmakers</a>
        <ul>
            <li><a href="{{ path('1win') }}">1Win</a></li>
            <li><a href="{{ path('betwinner') }}">BetWinner</a></li>
            <li><a href="{{ path('linebet') }}">LineBet</a></li>
            <li><a href="{{ path('1xbet') }}">1xBet</a></li>
        </ul>
    </li>
{% endblock %}

{% block start %}
<p>La société de paris Melbet propose une large offre de paris sportifs en ligne. Inscrivez-vous avec notre <strong>code promotionnel</strong> pour benéficiez de la multitude bonus offerte aux nouveaux !</p>
<a href="{{ path('melbet') }}#services" class="btn-get-started scrollto">En savoir +</a>
{% endblock %}

{% block promo %}
    <p>👋Son offre de bienvenue de 100% jusqu'à 130 euros est considérable ! Il s'agit d'un bonus exclusif offert avec le <strong> code promotionnel ml_170670 </strong>.✊💪</p>
{% endblock %}

{% block process %}
    <div class="row">
        <div class="col-lg-12">
            <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">Tout</li>
                <li data-filter=".filter-app">Inscription</li>
            </ul>
        </div>
    </div>

    <div class="row portfolio-container">

        <div class="col-lg-4 col-md-9 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
                <video src="{{ asset("./assets/index/img/melbet/melbet.mp4") }}" height="235" width="330" controls></video>

                <div class="portfolio-info">
                    <h4><a href="#">Tutoriel</a></h4>
                    <p>Inscription</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer_bookmakers %}
                            <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('1win') }}">1Win</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('betwinner') }}">BetWinner</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('linebet') }}">LineBet</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="{{ path('1xbet') }}">1xBet</a></li>
{% endblock %}